/*--------------------------------------------------------------
JP DESIGN SYSTEM: RESPONSIVE COLOR
by Jeremy Platt 
   https://jeremyplatt.me

>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# COLOR PALETTE HUES
# COLOR PALETTE HSL
# COLOR PALETTE GRADIENTS
# COLOR PALETTE TEXT

# DEFAULT COLOR ARRANGEMENTS
--------------------------------------------------------------*/

:root {
/*  Color Palette Hues  */
  --primary-hue: 323;
  --secondary-hue: calc( var(--primary-hue) + 70 );
  --primary-comp-hue: calc( var(--primary-hue) + 180 );
  --secondary-comp-hue: calc( var(--primary-hue) + 250 );
 
/*  Color Palette Hue Saturation Light  */
  --primary: hsl(var(--primary-hue), 70%, 70%);
  --secondary: hsl(var(--secondary-hue), 70%, 70%);
  --primary-comp: hsl(var(--primary-comp-hue), 70%, 70%);
  --secondary-comp: hsl(var(--secondary-comp-hue), 70%, 70%);

  --primary-light: hsl(var(--primary-hue), 70%, 95%);
  --secondary-light: hsl(var(--secondary-hue), 70%, 95%);
  --primary-comp-light: hsl(var(--primary-comp-hue), 70%, 95%);
  --secondary-comp-light: hsl(var(--secondary-comp-hue), 70%, 95%);
  
   --primary-dark: hsl(var(--primary-hue), 70%, 25%);
  --secondary-dark: hsl(var(--secondary-hue), 70%, 25%);
  --primary-comp-dark: hsl(var(--primary-comp-hue), 70%, 25%);
  --secondary-comp-dark: hsl(var(--secondary-comp-hue), 70%, 25%); 
  
   --primary-sat: hsl(var(--primary-hue), 70%, 50%);
  --secondary-sat: hsl(var(--secondary-hue), 70%, 50%);
  --primary-comp-sat: hsl(var(--primary-comp-hue), 70%, 50%);
  --secondary-comp-sat: hsl(var(--secondary-comp-hue), 70%, 50%);   
  
/*  Color Palette Gradients   */
--primary-gradient: linear-gradient(0.25turn, var(--secondary-sat), var(--primary-sat), var(--secondary-comp-sat));
--secondary-gradient: linear-gradient(0.25turn, var(--secondary-sat), var(--primary-sat));  
--third-gradient: linear-gradient(0.25turn, var(--secondary-comp-sat), var(--primary-comp-sat)); 
--fourth-gradient: linear-gradient(0.25turn, var(--secondary-comp-sat), var(--primary-sat)); 
  
  
/*  Color Palette Text  */
--text-dark: hsl(var(--primary-hue), 70%, 5%);  
--text-light: hsl(var(--primary-hue), 70%, 95%); 
}

/* Default Color Arrangements  */
    --main-background-color: var(--secondary-comp-light);
    --main-background-gradient: 135deg, var(--primary-dark) 0%, var(--secondary-comp-light) 50%, var(--secondary-comp-dark) 100%;
    --main-background-reverse-gradient: 135deg, var(--secondary-comp-dark) 0%, var(--secondary-comp-light) 50%, var(--primary-dark) 100%;
    --main-complement-color: var(--secondary);
    --main-complement-gradient: 135deg, var(--secondary-comp) 0%, var(--secondary) 100%;
    --main-focus-color:  var(--primary-light);
    --main-focus-gradient: 135deg, var(--secondary-sat) 0%, var(--primary-light) 100%;
    --main-highlight-color:  var(--secondary-light);
    --main-highlight-gradient: 135deg, var(--primary-light) 0%, var(--secondary-sat) 100%;

    --surface-background-color: var(--secondary);
    --surface-background-gradient: 135deg, var(--secondary) 0%, var(--secondary-complement) 50%, var(--primary) 100%;
    --surface-background-reverse-gradient: 135deg, var(--primary) 0%, var(--secondary-comp) 50%, var(--secondary) 100%;
    --surface-complement-color: var(--secondary-comp-dark);
    --surface-complement-gradient: 135deg, var(--primary-dark) 0%, var(--secondary-comp-light) 50%, var(--secondary-comp-dark) 100%;
    --surface-focus-color:  var(--primary-light);
    --surface-focus-gradient: 135deg, var(--primary-dark) 0%, var(--secondary-comp-light) 50%, var(--secondary-comp-dark) 100%;

}
