/*--------------------------------------------------------------
JP DESIGN SYSTEM: RESPONSIVE DARK MODE 
by Jeremy Platt 
   https://jeremyplatt.me

>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# DARK MODE COLOR ARRANGEMENT
--------------------------------------------------------------*/

/* Dark Mode Color Arrangement */

@media(prefers-color-scheme:dark) {
	:root {
	    /* Color varibles defined in color.css */
	    --text-color: var(--text-light);
		
	    --main-background-color: var(--primary-dark);
	    --main-background-gradient: 135deg, var(--secondary-light) -60%, var(--primary-dark) 30%;
	    --main-background-reverse-color: var(--secondary-light);
	    --main-background-reverse-gradient: 135deg, var(--secondary-light) -20%, var(--primary-dark) 50%;
	    --main-complement-color: var(--secondary);
	    --main-complement-gradient: 135deg, var(--secondary-comp) 0%, var(--secondary) 100%;
	    --main-focus-color: var(--secondary-sat);
	    --main-focus-gradient: 135deg, var(--primary-sat) -40%, var(--secondary-sat) 50%;
	    --main-highlight-color: var(--secondary-comp-dark);
	    --main-highlight-gradient: 135deg, var(--secondary-sat) 0%, var(--secondary-light) 100%;
	    --surface-background-color: var(--secondary-light);
	    --surface-background-gradient: 135deg, var(--primary-dark) -80%, var(--secondary-light) 20%;
	    --surface-background-reverse-gradient: 135deg, var(--secondary-light) -80%, var(--primary-dark) 20%;
	    --surface-comp-color: var(--primary-dark);
	    --surface-comp-gradient: 135deg, var(--primary-dark) 0%, var(--secondary-comp-light) 50%, var(--secondary-comp-dark) 100%;
	    --surface-focus-color: var(--secondary-comp-dark);
	    --surface-focus-gradient: 135deg, var(--primary-dark) 0%, var(--secondary-comp-light) 50%, var(--secondary-comp-dark) 100%;
	    --surface-highlight-color:  var(--primary-light);
	    --surface-highlight-gradient: 135deg, var(--primary-light) 0%, var(--primary-sat) 100%;
	}
}
